<ion-view title="Suchhistorie" class="gemionic-theme">
	<ion-content>
    <div class="gem-content">
      <div class="list gem-friend-list">
        <a class="item item-avatar item-icon-right" href="#">
          <img src="http://www.tivi.de/imperia/md/images/loewenzahn/p_1er_160x170/artikelsendunglogo.gif">
          <h2>Igel</h2>
          <h4>Biologie</h4>
          <span class="badge badge-assertive">27.03.16</span>
        </a>
      </div>

      <div class="list gem-friend-list">
        <a class="item item-avatar item-icon-right" href="#">
          <img src="http://www.tivi.de/imperia/md/images/loewenzahn/p_1er_160x170/artikelsendunglogo.gif">
          <h2>Pythagoras</h2>
          <h4>Mathematik</h4>
          <span class="badge badge-assertive">22.03.16</span>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
