<!--
Style Files:
  project-folder/scss/general.scss
  project-folder/scss/menu.scss
-->
<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="gemionic-theme primary-font" drag-content="false">
    <ion-nav-bar class="bar bar-clear">


      <ion-nav-buttons side="left" class="display: inline-block !important;">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" class="display: inline-block !important;"></button>
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-search" ui-sref="app.search"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="gem-menu">
    <ion-content>
      <div class="gem-menu--profile">
        <img src="img/demo/lernmedienbuddy.png" alt="">
      </div>
      <!-- Usual List -->
      <ion-list>
        <ion-item menu-close ui-sref="app.search">
          <i class="icon ion-search padding-right"></i>
          Suche
        </ion-item>
        <ion-item menu-close ui-sref="app.login">
          <i class="icon ion-person padding-right"></i>
          Login
        </ion-item>
        <!-- <div class="item item-divider item-dark"></div> -->
        <ion-item menu-close ui-sref="app.history">
          <i class="icon ion-ios-list-outline padding-right"></i>
          Suchhistorie
        </ion-item>
        <!-- <div class="item item-divider item-dark"><br><br></div> -->
        <ion-item menu-close ui-sref="app.contact">
          Kontakt
        </ion-item>
        <ion-item menu-close ui-sref="app.imprint">
          Impressum
        </ion-item>
        <!-- Usual List -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
