<ion-view title="Suche">
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Suchbegriff</span>
  		    <input type="text" ng-model="search.term">
  		  </label>
        <label class="item item-input item-select">
          <span class="input-label">Fach</span>
          <select ng-model="search.subject">
            <option>Mathematik</option>
            <option>Biologie</option>
            <option>Geographie</option>
            <option>Physik</option>
            <option>Sachkunde</option>
            <option>Deutsch</option>
            <option>Chemie</option>
            <option>Politische Bildung</option>
            <option>Geschichte</option>
            <option>Fremdsprachen</option>
            <option>Ethik</option>
            <option>Englisch</option>
            <option>Medienpädagogik</option>
            <option>Sachgebietsübergreifende Medien</option>
            <option>Zoologie</option>
            <option>Tiere</option>
            <option>Religion</option>
            <option>Berufliche Bildung</option>
            <option>Literatur</option>
            <option>Kinder- und Jugendbildung</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Klasse</span>
          <input type="text" ng-model="search.class">
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Ort</span>
          <select ng-model="search.location" placeholder="Ort">
            <option>Aachen</option>
            <option>Düsseldorf</option>
            <option>Wuppertal</option>
          </select>
        </label>
        <label class="item">
          <button type="submit" class="button button-assertive button-block gem-login--submit-button"
            ng-click="performSearch()">
            Suchen
          </button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
